<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RateMyCCI - Courses</title>

  <!-- loads controller specific assets-->
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag params[:controller] %>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <img src="/assets/RateMyCCI.png" width="92.8125" height="70" class="navbar-brand">
      <a class="navbar-brand" href="#">RateMyCCI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="review.html">Create Review</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="classes.html">Classes
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container-classes">

      <div class="col-lg-12 text-center">
        <h1 class="mt-5">CCI Courses</h1>
        <!-- <p class="lead">Complete with pre-defined file paths and responsive navigation!</p> -->
        <ul class="list-unstyled">
          <li><a class="nav-link" href="#">ITSC 1212 - Intro to Computer Science I</a></li>
          <li><a class="nav-link" href="#">ITSC 1213 - Intro to Computer Science II</a></li>
          <li><a class="nav-link" href="#">ITSC 1600 - Computing Professionals</a></li>
          <li><a class="nav-link" href="#">ITSC 2214 - Data Structures</a></li>
          <li><a class="nav-link" href="#">ITSC 3146 - Intro Operating System & Networking</a></li>
          <li><a class="nav-link" href="#">ITSC 3155 - Software Engineering</a></li>
        </ul>
      </div>

  </div>

</body>

</html>
