<%= link_to "Home", root_path %>
<h1>CCI Courses</h1>
 
 <%= link_to 'Add a new course' , new_course_path %>
 
<table>
  <tr>
    <th>Course Name</th>
    <th></th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_name %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
    </tr>
  <% end %>
</table>
